#include <physical_layouts.dtsi>

/ {
    physical_layout_evo34: physical_layout_evo34 {
        compatible = "zmk,physical-layout";
        display-name = "Evo34";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  142       0     0     0>
            , <&key_physical_attrs 100 100   95   79       0     0     0>
            , <&key_physical_attrs 100 100  190   26       0     0     0>
            , <&key_physical_attrs 100 100  284    0       0     0     0>
            , <&key_physical_attrs 100 100  379   47       0     0     0>
            , <&key_physical_attrs 100 100  897   47       0     0     0>
            , <&key_physical_attrs 100 100  992    0       0     0     0>
            , <&key_physical_attrs 100 100 1087   26       0     0     0>
            , <&key_physical_attrs 100 100 1182   79       0     0     0>
            , <&key_physical_attrs 100 100 1276  142       0     0     0>
            , <&key_physical_attrs 100 100    0  237       0     0     0>
            , <&key_physical_attrs 100 100   95  174       0     0     0>
            , <&key_physical_attrs 100 100  190  121       0     0     0>
            , <&key_physical_attrs 100 100  284   95       0     0     0>
            , <&key_physical_attrs 100 100  379  142       0     0     0>
            , <&key_physical_attrs 100 100  897  142       0     0     0>
            , <&key_physical_attrs 100 100  992   95       0     0     0>
            , <&key_physical_attrs 100 100 1087  121       0     0     0>
            , <&key_physical_attrs 100 100 1182  174       0     0     0>
            , <&key_physical_attrs 100 100 1276  237       0     0     0>
            , <&key_physical_attrs 100 100    0  332       0     0     0>
            , <&key_physical_attrs 100 100   95  268       0     0     0>
            , <&key_physical_attrs 100 100  190  216       0     0     0>
            , <&key_physical_attrs 100 100  284  190       0     0     0>
            , <&key_physical_attrs 100 100  379  237       0     0     0>
            , <&key_physical_attrs 100 100  897  237       0     0     0>
            , <&key_physical_attrs 100 100  992  190       0     0     0>
            , <&key_physical_attrs 100 100 1087  216       0     0     0>
            , <&key_physical_attrs 100 100 1182  268       0     0     0>
            , <&key_physical_attrs 100 100 1276  332       0     0     0>
            , <&key_physical_attrs 100 100  416  342       0     0     0>
            , <&key_physical_attrs 100 100  538  360    1500   588   410>
            , <&key_physical_attrs 100 100  739  360 (-1500)   789   410>
            , <&key_physical_attrs 100 100  861  342       0     0     0>
            ;
    };
};
